.editor-container {
  width: 600px;
  height: 400px;
}

.editor-main-column {
  display: flex;
  flex-direction: column;

}

.editor-workspace-row {
  display: flex;
  height: 400px;
}

.editor-canvas-container {
  overflow: scroll;
}

.editor-timeline-row {
  display: flex;
  width: 600px;
  overflow: hidden;
}

.editor-timeline {
  width: 600px;
  overflow: hidden;
}

.editor-sidebar {
  min-width: fit-content;
  overflow: hidden;
}

