.profile-container {
  display: flex;
  height: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 20%;
  min-width: 200px;

  background-color: gray;
}

.profile-picture {
  background-color: black;
  width: 200px;
  height: 200px;
  color: white;
}

.profile-description-container {
  background-color: darkgray;
  padding: 5%;
  padding-left: 6%;
  margin: 10% 0%;
  display: flex;
  height: 25%;
}

.profile-description-form {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-description-textarea {
  resize: none;
  height: 80%; 
  padding: 10px;
}

.profile-description {
  height: 80%;
  padding: 10px;
}

.profile-description-update-button {
  margin-top: 5px;
}

