html, body, header, section, div, p, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: transparent;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body, .root, .page-container {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #555555;
}
