.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;

  min-width: 200px;
}

.login-form h1 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.login-field:first-of-type {
  margin-top: 10px;
}

.login-field {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin-bottom: 10px;
  min-width: 150px;
}

.login-input {
  margin-top: 5px;
  height: 20px;
  min-width: 150px;
  border: 1px solid black;
  padding-left: 5px;
}

.login-submit {
  width: 60px;
  min-width: 60px;
}

.session-inputs {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-errors {
  color: red;
  font-size: 12px;
  max-width: 80%;
  width: 80%; 
}

