.workspace-container {
  width: 80%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace-main-column {
  display: flex;
  flex-direction: column;

  max-width: 85%;
  max-height: 100%;

  border: 1px solid white;
  padding: 5px;
  background-color: #333333;
}

.workspace-notes-row {
  display: flex;
}

.workspace-notes-canvas {
  overflow: scroll;
}

.workspace-timeline-row {
  display: flex;
  min-height: fit-content;
  min-height: -moz-fit-content;
  overflow: hidden;
}

.workspace-timeline {
  overflow: hidden;
}

.workspace-sidebar {
  min-width: fit-content;
  min-width: -moz-fit-content;
  overflow: hidden;
}

